useDynLib(rocmice, .registration=TRUE)
export("pool_roc_rr")
export("mi_roc_test")
export("pool_auc_rr")
export("apply_roc")

importFrom(Rcpp, evalCpp)

importFrom("stats", "qt", "pnorm", "pt", "var", "qlogis")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("pROC", "roc")